* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  min-height: 10vh;
  height: auto;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-family: "Poppins", sans-serif;
}
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}